<script>
import { mapGetters } from "vuex";
import CreateFacility from "./create";

export default {
  name: "index",
  data() {
    return {
      editDrawer: false,
      viewDrawer: false,
      editId: "",
      form: { name: "", description: "" },
    };
  },

  components: {
    CreateFacility,
  },

  computed: {
    ...mapGetters(["facilities", "facilityStatus"]),
  },

  methods: {
    fetchFacilities() {
      this.$store.dispatch("FETCH_FACILITIES");
    },

    handleDelete({ row }) {
      this.$confirm(
        "This will permanently delete the record. Continue?",
        "Warning",
        {
          confirmButtonText: "OK",
          cancelButtonText: "Cancel",
          type: "warning",
        }
      )
        .then(() => {
          this.$store.dispatch("REMOVE_FACILITY", row.id);
          this.$message({
            type: "success",
            message: "Delete completed",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Delete canceled",
          });
        });
    },
    onEdit({ row }) {
      this.editDrawer = true;
      this.editId = row.id;
      this.form = { name: row.name, description: row.description };
    },
    onView({ row }) {
      this.viewDrawer = true;
      this.form = { name: row.name, description: row.description };
    },
    handleEdit() {
      this.$store.dispatch("UPDATE_FACILITY", {
        id: this.editId,
        form: this.form,
      });
      setTimeout(() => (this.editDrawer = false), 400);
    },
    handleClose(done) {
      this.editDrawer = false;
      done();
    },
  },

  mounted() {
    this.fetchFacilities();
  },
};
</script>

<template>
  <section class="w-full h-full py-5 px-10 text-gray-700">
    <header class="w-full flex justify-between items-center my-4">
      <div class=""></div>

      <div class="">
        <create-facility />
      </div>
    </header>

    <main class="flex-grow py-5">
      <el-drawer
        title=""
        v-model="viewDrawer"
        :direction="rtl"
        :before-close="handleClose"
      >
        <section class="h-full flex flex-col p-8 max-w-full	">
          <el-card shadow="never">
            <h2>{{ form.name }}</h2>
            <h5 class="text-sm text-gray-500">{{ form.description }}</h5>
          </el-card>
        </section>
      </el-drawer>
      <el-drawer
        v-model="editDrawer"
        :direction="rtl"
        :before-close="handleClose"
      >
        <section class="h-full flex flex-col">
          <header
            class="flex font-semibold px-10 py-5 border-b border-gray-200"
          >
            <h5>EDIT FACILITY</h5>
          </header>

          <main class="flex-grow w-full px-10">
            <div class="w-full py-10">
              <div class="flex-col space-y-2 mb-4">
                <span for="" class="text-gray-700 font-body">Name</span>
                <el-input v-model="form.name"></el-input>
              </div>

              <div class="flex-col space-y-2">
                <span for="" class="text-gray-700 font-body">Description</span>
                <el-input
                  type="textarea"
                  :rows="5"
                  placeholder=""
                  v-model="form.description"
                >
                </el-input>
              </div>
            </div>
          </main>

          <footer class="flex py-4 px-10 border-t border-gray-200">
            <el-button @click="handleEdit()" type="primary">
              Submit <i class="el-icon-loading" v-if="facilityStatus" />
            </el-button>
            <el-button @click="handleClose()">Cancel</el-button>
          </footer>
        </section>
      </el-drawer>
      <div class="">
        <el-table :data="facilities" style="width: 100%">
          <el-table-column prop="id" label="#" width="70"> </el-table-column>

          <el-table-column prop="name" label="Name" width="180">
          </el-table-column>

          <el-table-column prop="description" label="Description">
          </el-table-column>

          <el-table-column fixed="right" label="Operations" width="200">
            <template #default="scope">
              <div class="flex items-center">
                <el-button
                  size="mini"
                  icon="el-icon-view"
                  @click="onView(scope)"
                />
                <el-button
                  size="mini"
                  icon="el-icon-edit"
                  @click="onEdit(scope)"
                />
                <el-button
                  type="danger"
                  @click="handleDelete(scope)"
                  size="mini"
                  icon="el-icon-delete"
                />
              </div>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </main>
  </section>
</template>
