<script>
import { mapGetters } from "vuex";
import CreatePackage from "./create";

export default {
  name: "index",

  data() {
    return {
      editDrawer: false,
      editId: "",
      form: { name: "", amount: "", description: "", service_ids: [] },
    };
  },

  components: {
    CreatePackage,
  },

  computed: {
    ...mapGetters(["packages", "services", "packageStatus"]),
  },

  methods: {
    fetchPackages() {
      this.$store.dispatch("FETCH_PACKAGES");
    },
    fetchServices() {
      this.$store.dispatch("FETCH_SERVICES");
    },

    handleEdit() {
      this.$store.dispatch("UPDATE_PACKAGE", {
        id: this.editId,
        form: this.form,
      });
      setTimeout(() => (this.editDrawer = false), 400);
    },

    onEdit({ row }) {
      const serviceIds = row.services.map((service) => service.id);
      this.editId = row.id;
      this.form = {
        name: row.name,
        description: row.description,
        amount: row.amount,
        service_ids: serviceIds,
      };
      this.editDrawer = true;
    },

    handleDelete({ row }) {
      this.$confirm(
        "This will permanently delete the record. Continue?",
        "Warning",
        {
          confirmButtonText: "OK",
          cancelButtonText: "Cancel",
          type: "warning",
        }
      )
        .then(() => {
          this.$store.dispatch("REMOVE_PACKAGE", row.id);
          this.$message({
            type: "success",
            message: "Delete completed",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Delete canceled",
          });
        });
    },
    handleClose(done) {
      this.editDrawer = false;
      done();
    },
  },

  mounted() {
    this.fetchPackages();
    this.fetchServices();
  },
};
</script>

<template>
  <section class="w-full h-full py-5 px-10 text-gray-700">
    <header class="w-full flex justify-between items-center my-4">
      <div class=""></div>

      <div class="">
        <create-package />
      </div>
    </header>

    <main class="flex-grow py-5">
      <el-drawer
        v-model="editDrawer"
        :direction="rtl"
        :before-close="handleClose"
      >
        <section class="h-full flex flex-col">
          <header
            class="flex font-semibold px-10 py-5 border-b border-gray-200"
          >
            <h5>EDIT PACKAGE</h5>
          </header>

          <main class="flex-grow w-full px-10">
            <div class="w-full py-10">
              <div class="flex-col space-y-2 mb-4">
                <span for="" class="text-gray-700 font-body">Name</span>
                <el-input v-model="form.name"></el-input>
              </div>

              <div class="flex-col space-y-2 mb-4">
                <span for="" class="text-gray-700 font-body">Description</span>
                <el-input
                  type="textarea"
                  :rows="5"
                  placeholder=""
                  v-model="form.description"
                >
                </el-input>
              </div>

              <div class="flex-col space-y-2 mb-4">
                <span for="" class="text-gray-700 font-body">Services</span>

                <el-select
                  v-model="form.service_ids"
                  placeholder=""
                  style="width: 100%"
                  multiple
                >
                  <el-option
                    v-for="(item, key) in services"
                    :key="key"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </div>

              <div class="flex-col space-y-2 mb-4">
                <span for="" class="text-gray-700 font-body">Amount</span>
                <el-input v-model="form.amount"></el-input>
              </div>
            </div>
          </main>

          <footer class="flex py-4 px-10 border-t border-gray-200">
            <el-button @click="handleEdit()" type="primary">
              Submit <i class="el-icon-loading" v-if="packageStatus" />
            </el-button>
            <el-button @click="handleClose()">Cancel</el-button>
          </footer>
        </section>
      </el-drawer>
      <div class="">
        <el-table :data="packages" style="width: 100%">
          <el-table-column prop="id" label="#" width="100"> </el-table-column>

          <el-table-column prop="name" label="Name" width="150">
          </el-table-column>

          <el-table-column prop="description" label="Description" width="250">
          </el-table-column>

          <el-table-column prop="amount" label="Amount" width="100">
          </el-table-column>

          <el-table-column fixed="right" label="Operations" width="200">
            <template #default="scope">
              <div class="flex items-center">
                <el-button size="mini" icon="el-icon-view" />
                <el-button
                  size="mini"
                  @click="onEdit(scope)"
                  icon="el-icon-edit"
                />
                <el-button
                  type="danger"
                  @click="handleDelete(scope)"
                  size="mini"
                  icon="el-icon-delete"
                />
              </div>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </main>
  </section>
</template>
