<script>
import { mapGetters } from "vuex";
import CreateDiagnosis from "./create";

export default {
  name: "index",

  components: {
    CreateDiagnosis,
  },

  computed: {
    ...mapGetters(["diagnoses"]),
  },

  methods: {
    handleDelete({ row }) {
      this.$confirm(
        "This will permanently delete the record. Continue?",
        "Warning",
        {
          confirmButtonText: "OK",
          cancelButtonText: "Cancel",
          type: "warning",
        }
      )
        .then(() => {
          this.$store.dispatch("REMOVE_DIAGNOSIS", row.id);
          this.$message({
            type: "success",
            message: "Delete completed",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Delete canceled",
          });
        });
    },
  },

  mounted() {
    this.$store.dispatch("FETCH_DIAGNOSES");
  },
};
</script>

<template>
  <section class="w-full h-full py-5 px-10 text-gray-700">
    <header class="w-full flex justify-between items-center my-4">
      <div class=""></div>

      <div class="">
        <create-diagnosis />
      </div>
    </header>

    <main class="flex-grow py-5">
      <div class="">
        <el-table :data="diagnoses" style="width: 100%">
          <el-table-column prop="id" label="#" width="100"> </el-table-column>

          <el-table-column prop="name" label="Name" width="180">
          </el-table-column>

          <el-table-column prop="description" label="Description">
          </el-table-column>

          <el-table-column fixed="right" label="Operations" width="200">
            <template #default="scope">
              <div class="flex items-center">
                <el-button size="mini" icon="el-icon-view" />
                <el-button size="mini" icon="el-icon-edit" />
                <el-button
                  type="danger"
                  @click="handleDelete(scope)"
                  size="mini"
                  icon="el-icon-delete"
                />
              </div>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </main>
  </section>
</template>
