<template>    <section class="w-full h-full flex flex-col bg-white">        <main class="flex-grow w-full">            <div class="w-5/20 h-full mx-auto">                <router-view/>            </div>        </main>    </section></template>