<script>
    import Guest from './components/layout/guest';
    import Default from './components/layout/default';
    import Plain from './components/layout/plain';

    export default {

        components: {
            Guest,
            Default,
            Plain
        },

        computed: {

            isGuest() {
                return !!(this.$route.meta && this.$route.meta.guest);
            },

            isPlain() {
                return !!(this.$route.meta && this.$route.meta.plain);
            },

            appLayout() {

                if(this.isPlain) {
                    return 'Plain';
                }

                if(this.isGuest) {
                    return 'Guest'
                }

                return 'Default';
            }
        },

        mounted() {
            console.log(this.$route);
        }
    }
</script>

<template>
    <section class="body-wrapper w-screen h-screen font-body">
        <component
            :is="appLayout"
        />
    </section>
</template>
