<script>
import { mapGetters } from "vuex";
import CreateSystem from "./create";

export default {
  name: "index",

  components: {
    CreateSystem,
  },

  computed: {
    ...mapGetters(["systems"]),
  },

  methods: {
    fetchSystems() {
      this.$store.dispatch("FETCH_SYSTEMS");
    },

    handleClick() {
      console.log("click");
    },
  },

  mounted() {
    console.log(this.$store.getters.systems);
    this.fetchSystems();
  },
};
</script>

<template>
  <section class="w-full h-full py-5 px-10 text-gray-700">
    <header class="w-full flex justify-between items-center my-4">
      <div class=""></div>

      <div class="">
        <create-system />
      </div>
    </header>

    <main class="flex-grow py-5">
      <div class="">
        <el-table :data="systems" style="width: 100%">
          <el-table-column prop="id" label="#" width="50"> </el-table-column>

          <el-table-column prop="name" label="Name" width="180">
          </el-table-column>

          <el-table-column prop="description" label="Description">
          </el-table-column>

          <el-table-column fixed="right" label="Operations" width="200">
            <template #default="scope">
              <div class="flex items-center">
                <el-button size="mini" icon="el-icon-view" />
                <el-button size="mini" icon="el-icon-edit" />
                <el-button
                  type="danger"
                  @click="handleClick(scope)"
                  size="mini"
                  icon="el-icon-delete"
                />
              </div>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </main>
  </section>
</template>
