<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      form: {},
      drawer: false,
      direction: "rtl",
    };
  },

  computed: {
    ...mapGetters(["itemStatus", "itemDrawerStatus", "services"]),
  },

  methods: {
    submit() {
      this.$store.dispatch("STORE_ITEM", this.form);
    },

    handleDrawer(value) {
      this.$store.commit("TOGGLE_ITEM_DRAWER", value);
    },

    handleClose(done) {
      this.handleDrawer(false);
      done();
    },
  },
};
</script>

<template>
  <section class="w-full">
    <el-button @click="handleDrawer(true)" type="primary">
      <i class="el-icon-plus" /> NEW ITEM
    </el-button>

    <el-drawer
      :show-close="false"
      v-model="itemDrawerStatus"
      :direction="direction"
      :before-close="handleClose"
    >
      <section class="h-full flex flex-col">
        <header class="flex font-semibold px-10 py-5 border-b border-gray-200">
          <h5>NEW ITEM</h5>
        </header>

        <main class="flex-grow w-full px-10">
          <div class="w-full py-10">
            <div class="flex-col space-y-2 mb-4">
              <span for="" class="text-gray-700 font-body">Name</span>
              <el-input v-model="form.name"></el-input>
            </div>

            <div class="flex-col space-y-2 mb-4">
              <span for="" class="text-gray-700 font-body">Description</span>
              <el-input
                type="textarea"
                :rows="5"
                placeholder=""
                v-model="form.description"
              >
              </el-input>
            </div>

            <div class="flex-col space-y-2 mb-4">
              <span for="" class="text-gray-700 font-body">Price</span>
              <el-input v-model="form.price"></el-input>
            </div>
          </div>
        </main>

        <footer class="flex py-4 px-10 border-t border-gray-200">
          <el-button @click="submit" type="primary">
            Submit <i class="el-icon-loading" v-if="itemStatus" />
          </el-button>
          <el-button @click="handleDrawer(false)">Cancel</el-button>
        </footer>
      </section>
    </el-drawer>
  </section>
</template>
